/datasets/benchmarks/*
/.idea
/NARSPython/__pycache__
/NARSPython/NALGrammar/__pycache__
/__pycache__
*.pyc
*.pyo
/__pycache__
__pycache__/train.cpython-312.pyc
/__pycache__
play.ipynb
*.pyc
__pycache__/negative_sampling.cpython-312.pyc
models/
*.pt
